
{% extends "kibz/base.html" %}
{% load static %}
{% block content %}
	<div class="music-page-container">
		<section class="section pb-0 bg-danger">
			<div class="container">
				<div class="pl-4 text-center">
				<img src={% static 'kibz/img/kibz white background.jpg'%} width="100">
					<h4 class="display-3 text-white">Kibz Music Revolution</h4>
					<p class="text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
				</div>
				<div class="row row-grid align-items-center">
					<div class="col-lg-6 order-lg-1">
						<div class="d-flex px-3">
							<div>
							</div>
						</div>
						<div class="row">
							<div class="card shadow shadow-lg--hover mt-5 mr-2">
								<div class="card-body">
									<div class="d-flex px-3">
										<div>
											<div class="icon icon-shape bg-gradient-success rounded-circle text-white">
												<i class="ni ni-satisfied"></i>
											</div>
										</div>
										<div class="pl-4">
											<h5 class="title text-success">Recording studio</h5>
											<p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
											<a href="#" class="text-success">Learn more</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow shadow-lg--hover mt-5 mr-2">
								<div class="card-body">
									<div class="d-flex px-3">
										<div>
											<div class="icon icon-shape bg-gradient-success rounded-circle text-white">
												<i class="ni ni-satisfied"></i>
											</div>
										</div>
										<div class="pl-4">
											<h5 class="title text-success">Recording studio</h5>
											<p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
											<a href="#" class="text-success">Learn more</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow shadow-lg--hover mt-5 mr-2">
								<div class="card-body">
									<div class="d-flex px-3">
										<div>
											<div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
												<i class="ni ni-active-40"></i>
											</div>
										</div>
										<div class="pl-4">
											<h5 class="title text-warning">Artist Promotion</h5>
											<p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
											<a href="#" class="text-warning">Learn more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- right -->
					<div class="col-lg-6 order-lg-1 ">
						
						<div class="row">
							<div class="card shadow shadow-lg--hover mt-5">
								<div class="card-body">
									<div class="d-flex px-3">
										<div>
											<div class="icon icon-shape bg-gradient-success rounded-circle text-white">
												<i class="ni ni-satisfied"></i>
											</div>
										</div>
										<div class="pl-4">
											<h5 class="title text-success">Recording studio</h5>
											<p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
											<a href="#" class="text-success">Learn more</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow shadow-lg--hover mt-5">
								<div class="card-body">
									<div class="d-flex px-3">
										<div>
											<div class="icon icon-shape bg-gradient-success rounded-circle text-white">
												<i class="ni ni-satisfied"></i>
											</div>
										</div>
										<div class="pl-4">
											<h5 class="title text-success">Recording studio</h5>
											<p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
											<a href="#" class="text-success">Learn more</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow shadow-lg--hover mt-5">
								<div class="card-body">
									<div class="d-flex px-3">
										<div>
											<div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
												<i class="ni ni-active-40"></i>
											</div>
										</div>
										<div class="pl-4">
											<h5 class="title text-warning">Artist Promotion</h5>
											<p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
											<a href="#" class="text-warning">Learn more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- right end -->
				</div>
			</div>
			<!-- SVG separator -->
			<div class="separator separator-bottom separator-skew zindex-100">
				<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</section>
	<!-- <section class="music-container music-header p-3 shadow">
				<div class="col_1 imgLayout">
						<img src="https://images.pexels.com/photos/374808/pexels-photo-374808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="scale-up-center" />
						<img src="https://images.pexels.com/photos/374808/pexels-photo-374808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol1 scale-up-center" />
				</div>
				<div class="col_2 imgLayout">
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol2 scale-up-center" />
				</div>
				<div class="col_3 imgLayout">
						<img src="https://images.pexels.com/photos/374808/pexels-photo-374808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol3 scale-up-center" />
				</div>
				<div class="col_4 imgLayout">
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol4-1 scale-up-center" />
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol4 scale-up-center" />
				</div>
				<div class="col_5 imgLayout">
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="scale-up-center" />
				</div>
				<div class="col_6 imgLayout">
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol6-1 scale-up-center" />
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol6 scale-up-center" />
				</div>
				<div class="col_7 imgLayout">
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol7 scale-up-center" />
				</div>
				<div class="col_8 imgLayout">
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="scale-up-center" />
						<img src="https://images.pexels.com/photos/668278/pexels-photo-668278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="" class="imgCol8 scale-up-center" />
		</div> -->
	</section>
	<!-- intro stops here -->
	<!---->
	<section class="container artistsCont mt-5">
		<h1 class="text-center">The Music Team</h1>
		<div class="artists">
			<div class="artist-card-container">
				{% if artists %}
					{% for artist in artists %}
						<!-- card start -->
						<div class="card text-center shadow-lg" style="width: 18rem;">
							<div class="card-header">
								<img class="card-image img-thumbnail " src="{{artist.profile_photo.url}}" alt="Card image cap">
								<p>{{artist.name}}</p>
								<p>{{artist.position}}</p>
								<p>{{artist.genre}}</p>
								<div class="pb-4">
									<i class="fab fa-facebook-f"><a href={{artist.facebook}}></a></i>
									<i class="fab fa-instagram"><a href={{artist.twitter}}></a></i>
									<i class="fab fa-twitter"><a href={{artist.instagram}}></a></i>
									<i class="fas fa-envelope"><a href={{artist.youtube}}></a></i>
								</div>
							</div>
							<div class="card-body">
								<button type="button" class="btn btnModify p-2" data-toggle="modal" data-target="#modalQuickView">View
								more</button>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
								content.</p>
								<!-- Modal -->
								<!-- Modal: modalQuickView -->
								<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content shadow-lg modalMusic">
											<div class="modal-body p-0">
												<div class="row ">
													<div class="col-lg-6">
														<!--Carousel Wrapper-->
														<div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
															<!--Slides-->
															<div class="carousel-inner" role="listbox">
																<div class="carousel-item active">
																	<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
																	alt="First slide">
																</div>
																<div class="carousel-item">
																	<img class="d-block w-100 modalImgs" src="{{artist.image_1.url}}" alt="Second slide">
																</div>
																<div class="carousel-item">
																	<img class="d-block w-100 modalImgs" src="{{artist.image_2.url}}" alt="Second slide">
																</div>
																<div class="carousel-item">
																	<img class="d-block w-100 modalImgs" src="{{artist.image_3.url}}" alt="Second slide">
																</div>
																<div class="carousel-item">
																	<img class="d-block w-100 modalImgs" src="{{artist.image_4.url}}" alt="Second slide">
																</div>
																<div class="carousel-item">
																	<img class="d-block w-100 modalImgs" src="{{artist.image_5.url}}" alt="Second slide">
																</div>
															</div>
															<!--/.Slides-->
															<!--Controls-->
															<a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
																<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																<span class="sr-only">Previous</span>
															</a>
															<a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
																<span class="carousel-control-next-icon" aria-hidden="true"></span>
																<span class="sr-only">Next</span>
															</a>
															<!--/.Controls-->
														</div>
														<!--/.Carousel Wrapper-->
													</div>
													<div class="col-lg-6 artistInfo">
														<h3 class="text-info display-6 p-2"> {{artist.name}} </h3>
														<h5 class=""> Genre: {{artist.genre}} </h5>
														<h3 class="display-7 pt-5">Bio</h3>
														<p> {{artist.bio}} </p>
														<h3 class="display-7 pt-5">Added</h3>
														<p> {{artist.created_on}} </p>
													</div>
												</div>
											</div>
										</div>
										<div class="socialMedia">
											<div class="content"> </div>
										</div>
									</div>
								</div>
								<!-- close modal -->
							</div>
						</div>
					{% endfor %}
				{% else %}
					<!-- card start -->
					<div class="card text-center shadow-lg" style="width: 18rem;">
						<div class="card-header">
							<img class="card-image img-thumbnail " src="https://images.pexels.com/photos/585014/pexels-photo-585014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="Card image cap">
							<p>Kendrick Lamar</p>
							<p>Artist</p>
							<div class="pb-4">
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="card-body">
							<button type="button" class="btn btnModify p-2" data-toggle="modal" data-target="#modalQuickView">View
							more</button>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
							content.</p>
							<!-- Modal -->
							<!-- Modal: modalQuickView -->
							<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content shadow-lg modalMusic">
										<div class="modal-body p-0">
											<div class="row ">
												<div class="col-lg-6">
													<!--Carousel Wrapper-->
													<div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
														<!--Slides-->
														<div class="carousel-inner" role="listbox">
															<div class="carousel-item active">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
																alt="First slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
																alt="Second slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
																alt="Third slide">
															</div>
														</div>
														<!--/.Slides-->
														<!--Controls-->
														<a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
															<span class="carousel-control-prev-icon" aria-hidden="true"></span>
															<span class="sr-only">Previous</span>
														</a>
														<a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
															<span class="carousel-control-next-icon" aria-hidden="true"></span>
															<span class="sr-only">Next</span>
														</a>
														<!--/.Controls-->
													</div>
													<!--/.Carousel Wrapper-->
												</div>
												<div class="col-lg-6 artistInfo">
													<h3 class="text-info display-6 p-2"> Aggrey Women </h3>
													<h5> Genre: Hiphop </h5>
													<h3 class="display-7 pt-5">Bio</h3>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consequuntur debitis, delectus sapiente
														dolores mollitia eaque voluptates numquam aliquid vitae laboriosam, animi alias ducimus, tempora natus
														assumenda! Dolor, iste veniam tenetur suscipit labore quos veritatis beatae itaque maxime hic eius?
													</p>
													<h3 class="display-7 pt-5">Joined</h3>
													<p> 11/02/1989 </p>
												</div>
											</div>
										</div>
									</div>
									<div class="socialMedia">
										<div class="content"></div>
									</div>
								</div>
							</div>
							<!-- close modal -->
						</div>
					</div>
					<!-- card end -->
					<!-- card start -->
					<div class="card text-center shadow-lg" style="width: 18rem;">
						<div class="card-header">
							<img class="card-image img-thumbnail " src="https://images.pexels.com/photos/585014/pexels-photo-585014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="Card image cap">
							<p>Muhwezi Gee</p>
							<p>Producer</p>
							<div class="pb-4">
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="card-body">
							<button type="button" class="btn btnModify p-2" data-toggle="modal" data-target="#modalQuickView">View
							more</button>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
							content.</p>
							<!-- Modal -->
							<!-- Modal: modalQuickView -->
							<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content shadow-lg modalMusic">
										<div class="modal-body p-0">
											<div class="row ">
												<div class="col-lg-6">
													<!--Carousel Wrapper-->
													<div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
														<!--Slides-->
														<div class="carousel-inner" role="listbox">
															<div class="carousel-item active">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
																alt="First slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
																alt="Second slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
																alt="Third slide">
															</div>
														</div>
														<!--/.Slides-->
														<!--Controls-->
														<a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
															<span class="carousel-control-prev-icon" aria-hidden="true"></span>
															<span class="sr-only">Previous</span>
														</a>
														<a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
															<span class="carousel-control-next-icon" aria-hidden="true"></span>
															<span class="sr-only">Next</span>
														</a>
														<!--/.Controls-->
													</div>
													<!--/.Carousel Wrapper-->
												</div>
												<div class="col-lg-6 artistInfo">
													<h3 class="text-info display-6 p-2"> Aggrey Women </h3>
													<h5> Genre: Hiphop </h5>
													<h3 class="display-7 pt-5">Bio</h3>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consequuntur debitis, delectus sapiente
														dolores mollitia eaque voluptates numquam aliquid vitae laboriosam, animi alias ducimus, tempora natus
														assumenda! Dolor, iste veniam tenetur suscipit labore quos veritatis beatae itaque maxime hic eius?
													</p>
													<h3 class="display-7 pt-5">Joined</h3>
													<p> 11/02/1989 </p>
												</div>
											</div>
										</div>
									</div>
									<div class="socialMedia">
										<div class="content"></div>
									</div>
								</div>
							</div>
							<!-- close modal -->
						</div>
					</div>
					<!-- card end -->
					<!-- card start -->
					<div class="card text-center shadow-lg" style="width: 18rem;">
						<div class="card-header">
							<img class="card-image img-thumbnail " src="https://images.pexels.com/photos/585014/pexels-photo-585014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="Card image cap">
							<p>Muhwezi Deo</p>
							<p>Producer</p>
							<div class="pb-4">
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="card-body">
							<button type="button" class="btn btnModify p-2" data-toggle="modal" data-target="#modalQuickView">View
							more</button>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
							content.</p>
							<!-- Modal -->
							<!-- Modal: modalQuickView -->
							<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content shadow-lg modalMusic">
										<div class="modal-body p-0">
											<div class="row ">
												<div class="col-lg-6">
													<!--Carousel Wrapper-->
													<div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
														<!--Slides-->
														<div class="carousel-inner" role="listbox">
															<div class="carousel-item active">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
																alt="First slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
																alt="Second slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
																alt="Third slide">
															</div>
														</div>
														<!--/.Slides-->
														<!--Controls-->
														<a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
															<span class="carousel-control-prev-icon" aria-hidden="true"></span>
															<span class="sr-only">Previous</span>
														</a>
														<a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
															<span class="carousel-control-next-icon" aria-hidden="true"></span>
															<span class="sr-only">Next</span>
														</a>
														<!--/.Controls-->
													</div>
													<!--/.Carousel Wrapper-->
												</div>
												<div class="col-lg-6 artistInfo">
													<h3 class="text-info display-6 p-2">Aggrey Women </h3>
													<h5 class=""> Genre: Hiphop </h5>
													<h3 class="display-7 pt-5">Bio</h3>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consequuntur debitis, delectus sapiente
														dolores mollitia eaque voluptates numquam aliquid vitae laboriosam, animi alias ducimus, tempora natus
														assumenda! Dolor, iste veniam tenetur suscipit labore quos veritatis beatae itaque maxime hic eius?
													</p>
													<h3 class="display-7 pt-5">Joined</h3>
													<p> 11/02/1989 </p>
												</div>
											</div>
										</div>
									</div>
									<div class="socialMedia">
										<div class="content"> </div>
									</div>
								</div>
							</div>
							<!-- close modal -->
						</div>
					</div>
					<!-- card end -->
					<!-- card start -->
					<div class="card text-center shadow-lg" style="width: 18rem;">
						<div class="card-header">
							<img class="card-image img-thumbnail " src="https://images.pexels.com/photos/585014/pexels-photo-585014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="Card image cap">
							<p>Aggrey Deo</p>
							<p>Artist</p>
							<div class="pb-4">
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="card-body">
							<button type="button" class="btn btnModify p-2" data-toggle="modal" data-target="#modalQuickView">View
							more</button>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
							content.</p>
							<!-- Modal -->
							<!-- Modal: modalQuickView -->
							<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content shadow-lg modalMusic">
										<div class="modal-body p-0">
											<div class="row ">
												<div class="col-lg-6">
													<!--Carousel Wrapper-->
													<div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
														<!--Slides-->
														<div class="carousel-inner" role="listbox">
															<div class="carousel-item active">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
																alt="First slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
																alt="Second slide">
															</div>
															<div class="carousel-item">
																<img class="d-block w-100 modalImgs" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
																alt="Third slide">
															</div>
														</div>
														<!--/.Slides-->
														<!--Controls-->
														<a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
															<span class="carousel-control-prev-icon" aria-hidden="true"></span>
															<span class="sr-only">Previous</span>
														</a>
														<a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
															<span class="carousel-control-next-icon" aria-hidden="true"></span>
															<span class="sr-only">Next</span>
														</a>
														<!--/.Controls-->
													</div>
													<!--/.Carousel Wrapper-->
												</div>
												<div class="col-lg-6 artistInfo">
													<h3 class="text-info display-6 p-2"> Aggrey Women </h3>
													<h5> Genre: Hiphop </h5>
													<h3 class="display-7 pt-5">Bio</h3>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consequuntur debitis, delectus sapiente
														dolores mollitia eaque voluptates numquam aliquid vitae laboriosam, animi alias ducimus, tempora natus
														assumenda! Dolor, iste veniam tenetur suscipit labore quos veritatis beatae itaque maxime hic eius?
													</p>
													<h3 class="display-7 pt-5">Joined</h3>
													<p> 11/02/1989 </p>
												</div>
											</div>
										</div>
									</div>
									<div class="socialMedia">
										<div class="content"> </div>
									</div>
								</div>
							</div>
							<!-- close modal -->
						</div>
					</div>
					<!-- card end -->
				{% endif %}
			</div>
		</div>
	</section>
	<!-- Section: Blog v.3 -->
	<section class="counter-container">
		<section id="counter" class="sec-padding mt-4 shadow-lg ">
			<div class="container">
				<div class="row">
					<div class="col-md-3 ">
						<div class="count"> <span class="fa fa-smile-o"></span>
						<p class="number">126</p>
						<h4>Artst Signed</h4>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="count"> <span class="fa fa-smile-o"></span>
					<p class="number">535</p>
					<h4>Songs Released</h4>
				</div>
			</div>
			<div class="col-md-3 ">
				<div class="count"> <span class="fa fa-smile-o"></span>
				<p class="number">896</p>
				<h4>Shows </h4>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="count"> <span class="fa fa-smile-o"></span>
			<p class="number">777</p>
			<h4>Something</h4>
		</div>
	</div>
</div>
</div>
</section>
</section>
</div>
<!-- counter -->
<!-- music page container ends -->
{% endblock content %}